.title_wrap {
    translate: none;
    rotate: none;
    scale: none;
    transform: translate(0px, 0px);
    opacity: 1;
    left: 0;
    mix-blend-mode: overlay;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.home-hero-title {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
}

.home-hero-title__wrap {
    translate: none;
    rotate: none;
    scale: none;
    transform: translate(0px, 0px);
    opacity: 1;
}